
header {
    // background: rgb(115, 0, 182);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(70, 1, 110) 25%);
    position: fixed;
    width: 100%;
    top: 0;
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

header ul span {
    color: white;
    padding: 0.5em;
}

.mini-navbar ul {
    border-radius: 0.3em;
    padding-left: 0px;
    width: 100%;
}

header li {
    list-style: none;
    margin: .35em;
    padding: 0 .95em;
}

header a {
    font-family: 'Comic-Sans',cursive;
    text-shadow: 1.3px 1.3px #ffffff80;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

nav {
    border-top: transparent;
}

.logo {
    padding-left: 15%;
    font-size: 1.7em;
    color: white;
    padding-bottom: 0;
}

.logo-wrap {
    font-family: 'Comic-Sans', cursive;
    letter-spacing: .1em;
    margin: 0.5em 0;
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}


