   <div class="container">
    <div class="container_content">
      <div class="container_content_inner">
        <div class="title">
          <h1>Welcome to PcBuildz</h1>
        </div>
        <div class="par">
          
         
        </div>
        <div class="btns">
          <button class="btns_more"><a routerLink="/items/catalog/recent-buildz">Check out our latest buildz</a></button>
        </div>
      </div>
    </div>
    <div class="container_outer_img">
      <div class="img-inner">
        <img
          src="https://www.pcspecialist.de/images/landing/pcs/gaming-pc/bundle.jpg"
          alt=""
          class="container_img"
        />
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  