<ng-container *ngIf="hasItem">
  <div class="products">
    <div class="product_item">
      <figure>
        <img src="{{ item?.img }}" width="500" height="400" alt="img" />
      </figure>
      <h3>{{ item?.title }}</h3>
      <h2>{{ item?.price }}Euro</h2>
      <br />
      <p *ngFor="let each of item?.description">{{ each }}</p>
    </div>

    <ng-container *ngIf="owner">
      <button
        [routerLink]="['/items/catalog/edit/', item?._id]"
        type="submit"
        class="btn"
      >
        Edit
      </button>
      <button (click)="deleteItemHandler()" type="submit" class="btn">
        Delete
      </button>
    </ng-container>
  </div>
</ng-container>
